@import url('https://fonts.googleapis.com/css?family=Acme');

.header {
   font-family: "Acme", sans-serif;
   font-style: normal;
   font-size: 50px;
   color: #550000;
   text-align: center;
   text-transform: uppercase;
}

.body {
   font-family: "Acme", sans-serif;
   font-style: normal;
   color: #550000;
} 

a {
   color: #550000;
}

a:link {
   color: #550000;
}

a:visited {
   color: red;
}

a:hover {
   font-weight: bold;
}

a:active {
   text-decoration: none;
}

#menuItem {
   font-size: larger;
}

#beverages {
   font-size: larger;
   text-decoration: underline;
} 

#bevPadding {
   padding-top: 5px;
   padding-right: 5px;
   padding-bottom: 0px;
   padding-left: 5px;
}

.footer {
   font-family: "Acme", sans-serif;
   font-style: normal;
   color: #550000;
   position: absolute;
   right: 0;
   bottom: 0;
   left: 0;
}

#bold {
   font-weight: bold;
}