@import url("https://fonts.googleapis.com/css?family=Aref+Ruqaa:700");

#albumTitle {
   font-family: "Aref Ruqaa", serif;
   font-style: normal;
   font-size: 50px;
   text-align: center;
}

#albumCover {
   background: url("https://upload.wikimedia.org/wikipedia/en/1/1c/Sarahmclachlansurfacing.PNG");
   width: 290px;
   height: 290px;
   margin: 0 auto;
}

a {
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
   background-color: orange;
}

h3 {
   text-align: center;
}

#musicians {
   font-style: italic;
}

tbody {
   font-style: italic;
   background-color: pink;
}