@import url('https://fonts.googleapis.com/css?family=Acme');

a {
   color: #550000;
}

//a:link {
//   color: #550000;
//}

a:visited {
   color: red;
}

a:hover {
   font-weight: bold;
}

a:active {
   text-decoration: none;
}

.body {
   font-family: "Acme", sans-serif;
   font-style: normal;
   color: #550000;
} 

#bevPadding {
   padding-top: 5px;
   padding-right: 5px;
   padding-bottom: 0px;
   padding-left: 5px;
}
