@import url('https://fonts.googleapis.com/css?family=Acme');

.header {
   font-family: "Acme", sans-serif;
   font-style: normal;
   font-size: 50px;
   color: #550000;
   text-align: center;
   text-transform: uppercase;
}

.body {
   font-family: "Acme", sans-serif;
   font-style: normal;
   color: #550000;
} 

#menuItem {
   font-size: larger;
} 

.footer {
   font-family: "Acme", sans-serif;
   font-style: normal;
   color: #550000;
   position: absolute;
   right: 0;
   bottom: 0;
   left: 0;
}

a {
   color: #550000;
}

#bold {
   font-weight: bold;
}