@import url("https://fonts.googleapis.com/css?family=Aref+Ruqaa:700");

#albumTitle {
   font-family: "Aref Ruqaa", serif;
   font-style: normal;
   font-size: 50px;
   text-align: center;
}

a {
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
   background-color: orange;
}

h3 {
   text-align: center;
   color: black;
}

#musicians {
   font-style: italic;
}

tbody {
   font-style: italic;
   background-color: pink;
}